<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>First starter page</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.0/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.2.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container my-5">
    <h2>Add new Employee</h2>
    <hr>
    <form th:action="@{/update-employee}" th:object="${employee}" method="post">
        <input type="hidden" th:field="*{id}">
        <div class="form-group col-md-6">
            <label for="name" class="col-form-label">Name</label>
            <input type="text" th:field="*{name}" placeholder="Name" id="name" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label for="surname" class="col-form-label">Surname</label>
            <input type="text" th:field="*{surname}" placeholder="Surname" id="surname" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label for="age" class="col-form-label">Age</label>
            <input type="text" th:field="*{age}" placeholder="Age" id="age" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label for="email" class="col-form-label">E-mail</label>
            <input type="text" th:field="*{email}" placeholder="E-mail" id="email" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label for="pesel" class="col-form-label">Pesel</label>
            <input type="text" th:field="*{pesel}" placeholder="Pesel" id="pesel" class="form-control">
        </div>
        <button type="submit" class="btn-warning mt-2">Submit</button>
    </form>
</div>
</body>
</html>